.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--w-screen);
  height: var(--h-screen);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--white-color);
  width: fit-content;
  height: var(--h-64);
  padding: 0 var(--space-14);
  position: relative;
}

.closeButton {
  font-size: var(--text-3xl);
  padding: var(--space-1) var(--space-4);
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white-color);
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  color: var(--secondary-color-hover);
}

.titleConfirmation {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  margin-bottom: var(--space-4);
}

.messageConfirmation {
  max-width: var(--w-96);
  font-family: var(--font-body);
  font-size: var(--text-base);
  color: var(--white-color);
  margin-bottom: var(--space-2);
}