.footer {
  width: var(--w-full);
  background-color: var(--primary-color);
  color: #fff;
  padding: var(--space-8);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-xs);
}